# PostgreSQL Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=54328
POSTGRES_USER=bevel
POSTGRES_PASSWORD=password
POSTGRES_DB=bevel

# Elasticsearch Configuration
ELASTICSEARCH_URL=http://localhost:9200

# Application Configuration
PORT=3000